@import "tailwindcss";

@font-face {
  font-family: "Garage Gothic";
  src: url("/fonts/fonnts.com-GarageGothic_Bold.otf");
}

.gg{
  font-family: "Garage Gothic";
}

:root {
  --background: #fafafa;
  --foreground: #171717;
}

:root.dark {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* globals.css */

.markdown h1 {
  font-size: 2.25rem; /* ~36px */
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.markdown h2 {
  font-size: 1.875rem; /* ~30px */
  font-weight: 700;
  margin-top: 1.75rem;
  margin-bottom: 1rem;
}

.markdown h3 {
  font-size: 1.5rem; /* ~24px */
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

.markdown h4 {
  font-size: 1.25rem; /* ~20px */
  font-weight: 600;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

.markdown h5 {
  font-size: 1rem; /* ~16px */
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.markdown h6 {
  font-size: 0.875rem; /* ~14px */
  font-weight: 500;
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
}

.markdown p {
  font-size: 1rem;
  line-height: 1.75;
  margin-bottom: 1rem;
}

.markdown ul,
.markdown ol {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.markdown code {
  font-family: 'Fira Code', monospace;
  background-color: #1e1e1e;
  color: #fcd34d;
  padding: 0.2rem 0.4rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}

.markdown pre {
  background-color: #111827;
  color: #f3f4f6;
  padding: 1rem;
  overflow-x: auto;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

.markdown ol{
  list-style-type: decimal!important  ;
}

.markdown ul{
  list-style-type: disc!important;
}


@layer base{
  .card{
    @apply p-8 rounded-xl border-neutral-200 border
  }
  input{
    @apply bg-white border shadow-sm border-neutral-200 focus:outline-none ring-2 focus:ring-teal-700 px-4 ring-neutral-200 py-2

  }
  .dark input{
    @apply bg-neutral-700 ring-transparent focus:ring-teal-700
  }
}


@layer components{

  *{
    @apply transition-colors
  }

  .btn{
    @apply text-white px-4 py-2 rounded-sm hover:brightness-95 active:opacity-95 hover:cursor-pointer;
  }

  nav{
    @apply bg-teal-600
  }

  .dark .card{
    @apply bg-neutral-800 border
  }

  .dark input{
    @apply border-none;
  }

  .doc{
    @apply bg-white
  }

  .dark .doc{
    @apply bg-neutral-800
  }

  .dark .wmde-markdown h1{
    @apply border-[white!important]
  }

}